html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body.hide-scroll {
  max-height: 100vh;
  height: 100vh;
  position: fixed;
}

#root {
  display: inline-flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  flex: 1;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.fadeout-enter {
  opacity: 0.01;
}

.fadeout-enter.fadeout-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeout-leave {
  opacity: 1;
}

.fadeout-leave.fadeout-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}